<h1>Editing a task</h1>

<!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->

<form action="{% url 'tasks:show' task.id %}" method="post">
  {% csrf_token %}
  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="{{ task.title }}">
  <label for="description">Description</label>
  <input type="text" id="description" name="description" value="{{ task.description }}">
  <label for="assignee_id">Assignee_id</label>
  <input type="text" id="assignee_id" name="assignee_id" value="{{ task.assignee_id }}">
  <label for="status">Status</label>
  <input type="text" id="status" name="status" value="{{ task.status }}">
  <input type="submit" value="Edit" />
  <input type="text" name="method" value="PUT" style="display: none">
</form>
